// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


// Container
$container-max-widths: (
  sm: 540px,
  md: 800px,
  lg: 960px,
  xl: 1120px
) !default;

//
// Color system
//

$primary: #575757;
$grey: #cecece;
$cyan: #72cfe8;
$lightblue: #c1d7e6;
$body-color: #4d4d4d;


// Typography
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.35 !default;
$headings-font-family: "Orator Std", Arial, sans-serif;
$font-family-sans-serif: "Avenir Next", Arial, sans-serif;

$h1-font-size:                $font-size-base * 4 !default;
$h2-font-size:                $font-size-base * 3 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;