.gform_button {
	padding: .75rem 2rem;
	border: 0;
	background: $primary;
	color: $white;
	font-size: 1rem !important;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.2s;

	&:hover {
		background: lighten($primary, 10%);
	}
}

.gfield_checkbox li {
	width: 50%;
	float: left;

	label {
		position: relative;
		top: 6px;
	}
}