// Members Page

.team-members {
	.team-member {
		position: relative;
		margin-bottom: 1.75rem;
		cursor: pointer;
		text-align: center;

		img {
			width: 100%;
		}

		a {
			color: $white;
			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			.member-overlay {
				opacity: 1;
			}
		}

		.member-overlay {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			padding: 1rem;
			width: fit-content;
			height: 100%;
			background: rgba(0,0,0,.65);
			color: $white;
			text-align: center;
			font-size: 1rem;
			transition: 0.2s;

			@include media-breakpoint-only(sm) {
				font-size: .85rem;
			} 

			.overlay-info {
				position: relative;
				top: 50%;
				transform: translateY(-75%);
			}

			p {
				margin-bottom: 0;
			}

			.fa-instagram {
				color: $cyan;
				font-size: 1.5rem;
			}
		}

		.member-info {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 1.25rem 0;
			background: rgba(0,0,0,.65);
			font-size: 1rem;
			text-align: center;
			color: $white;
			transition: .2s;

			p {
				margin-bottom: 0;
			}

			.member-name {
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}

// Single Member Page

.single-member {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.single-member-image {
		margin-bottom: 1rem;
	}
	.fa-instagram {
		font-size: 2rem;
	}

	h1 {
		margin-bottom: 0;
		font-size: 4rem;
		font-style: italic;
	}

	.member-position {
		font-family: $headings-font-family;
		text-transform: lowercase;
	}
}